<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-OverPass">
    <nav
      class="flex items-center justify-between px-4 sm:px-8 py-4 sm:py-5 relative z-10"
    >
      <a href="{{ url_for('user.user_home') }}">
        <img
          src="https://i.postimg.cc/nhC8WXpv/image-1.png"
          alt="logo"
          class="w-[85px] sm:w-[167px] h-[29px] sm:h-[59px]"
        />
      </a>
      <button id="nav-toggle" class="block sm:hidden text-customGreen">
        <svg
          class="h-6 w-6 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 5h16M4 12h16M4 19h16"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <ul
        id="nav-menu"
        class="hidden sm:flex flex-col sm:flex-row items-center font-semibold gap-8 sm:gap-8 absolute sm:static top-full left-0 w-full sm:w-auto bg-white sm:bg-transparent sm:space-x-8 sm:px-0 py-4 sm:py-0 shadow-md sm:shadow-none"
      >
        <li>
          <a href="{{ url_for('sell') }}" class="text-customGreen">BUY</a>
        </li>
        <li>
          <a href="{{ url_for('rent') }}" class="text-customGreen">RENT</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}" class="text-customGreen underline"
            >ABOUT US</a
          >
        </li>
        <li>
          <a href="{{ url_for('contact_us') }}" class="text-customGreen"
            >CONTACT</a
          >
        </li>
        {% if session.get('role') == 'admin' %}
        <li role="button">
          <a href="{{ url_for('admin.admin_profile') }}">
            <img
              class="w-[36px] h-[36px] hidden rounded-full sm:block"
              src="/static/images/Admin_logo.png"
              alt=""
            />
          </a>
        </li>
        {% elif session.get('username') %}
        <li role="button">
          {% if session.get('role') == 'admin' %}
          <a href="{{ url_for('admin.admin_profile') }}">
            <img
              class="w-[36px] h-[36px] hidden rounded-full sm:block"
              src="/static/images/Admin_logo.png"
              alt=""
            />
          </a>
          {% else %}
          <a href="{{ url_for('user.user_profile') }}">
            <img
              class="w-[36px] h-[36px] hidden rounded-full sm:block"
              src="{{ url_for('static', filename='uploads/' ~ user_profile_picture) }}"
              alt=""
            />
          </a>
          {% endif %}
        </li>
        {% else %}
        <li role="button" class="bg-customGreen text-white px-2 py-1 rounded">
          <a href="{{ url_for('login') }}">LOGIN SIGN UP</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="flex px-8 py-10 sm:justify-between">
      <div class="sm:w-1/2">
        <h2
          class="font-bold text-primary text-3xl md:text-4xl text-customGreen md:text-[55px] sm:leading-[81px]"
        >
          Welcome to
          <span class="text-[#0097A9] md:text-[55px] leading-[81px]"
            >HOUSY</span
          >
        </h2>
        <p
          class="light font-semibold h-[226px] mb-8 w-80% text-customGreen md:leading-[30px]"
        >
          At HOUSY we are committed to providing exceptional real estate
          services to help you find your dream home or the perfect investment
          property. Whether you are looking to buy, sell, or rent, our team of
          experienced professionals is here to guide you through every step of
          the process
        </p>
      </div>
      <img
        src="/static/images/Rectangle 125.png "
        alt=""
        class="hidden sm:flex md:ml-7 md:w-[585px] md:h-[280px] rounded-lg"
      />
    </div>

    <section class="bg-[#E3FEF7] py-[33px] px-[30px] sm:px-[230px] mt-8">
      <h1 class="mb-[20px] text-center font-bold text-3xl text-DarkGreen">
        OUR MISSION
      </h1>
      <p class="text-center">
        Our mission is to deliver top-notch real estate services that exceed our
        clients' expectations. We strive to create long-lasting relationships
        based on trust, integrity, and transparency. Our goal is to make your
        real estate experience as smooth and stress-free as possible.
      </p>
    </section>

    <div class="container mx-auto text-center py-16">
      <h1 class="text-4xl font-bold mb-12">WHAT WE OFFER</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <div class="bg-[#E3FEF7] p-8 rounded-lg shadow-md">
          <div class="flex justify-center mb-4">
            <img
              src="/static/images/ri_home-fill_1.webp"
              alt="Home Sales Icon"
            />
          </div>
          <h2 class="text-2xl font-semibold mb-4 text-customGreen">
            Home Sales
          </h2>
          <p>
            Our extensive listing of homes for sale features a variety of
            properties to suit different tastes and budgets.
          </p>
        </div>
        <div class="bg-[#E3FEF7] p-8 rounded-lg shadow-md">
          <div class="flex justify-center mb-4">
            <img src="/static/images/Group_1.webp" alt="Rentals Icon" />
          </div>
          <h2 class="text-2xl font-semibold mb-4 text-customGreen">Rentals</h2>
          <p>
            If you are looking for a rental property, we offer a wide range of
            options, from apartments and condos to single-family homes.
          </p>
        </div>
        <div class="bg-[#E3FEF7] p-8 rounded-lg shadow-md">
          <div class="flex justify-center mb-4">
            <img
              src="/static/images/Vector_17.webp"
              alt="Property Management Icon"
            />
          </div>
          <h2 class="text-2xl font-semibold mb-4 text-customGreen">
            Property Management
          </h2>
          <p>
            We provide comprehensive property management services for landlords
            and investors
          </p>
        </div>
      </div>
    </div>

    <h2 class="text-center font-bold text-3xl text-DarkGreen">MEET THE TEAM</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 py-16 gap-8">
      <div class="flex flex-col items-center space-y-4">
        <div class="w-24">
          <img
            class="rounded-full"
            src="/static/images/Ayoub_pic.jpg"
            alt="Ayoub's Picture"
          />
        </div>
        <div class="text-center">
          <h2 class="text-2xl font-bold text-customGreen">AYOUB</h2>
          <p>WEB DEVELOPER</p>
        </div>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="w-24">
          <img
            class="rounded-full"
            src="/static/images/Abdelhadi_pic.jpeg"
            alt="Abdelhadi's Picture"
          />
        </div>
        <div class="text-center">
          <h2 class="text-2xl font-bold text-customGreen">ABDELHADI</h2>
          <p>WEB DEVELOPER</p>
        </div>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="w-24">
          <img
            class="rounded-full"
            src="/static/images/Amin_pic.jpeg"
            alt="Amin's Picture"
          />
        </div>
        <div class="text-center">
          <h2 class="text-2xl font-bold text-customGreen">AMINE</h2>
          <p>WEB DEVELOPER</p>
        </div>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="">
          <img
            class="rounded-full w-24 h-24"
            src="/static/images/anas_pic.jpeg"
            alt="Anas's Picture"
          />
        </div>
        <div class="text-center">
          <h2 class="text-2xl font-bold text-customGreen">ANAS</h2>
          <p>WEB DEVELOPER</p>
        </div>
      </div>
    </div>

    <footer
      class="bg-customGreen flex flex-col space-y-4 sm:space-y-0 sm:flex-row justify-between p-8 mt-[40px]"
    >
      <div class="w-1/2">
        <img src="/static/images/image 3.png" alt="Housy Logo" />
        <h2 class="font-bold text-white text-2xl">
          About Housy's Recommendations
        </h2>
        <p class="text-white">
          Recommendations are based on your location and search activity, such
          as the homes you've viewed and saved and the filters you've used. We
          use this information to bring similar homes to your attention, so you
          don't miss out.
        </p>
        <p class="text-white text-sm mt-6">&copy; 2024 Housy</p>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">Contact</h2>
        <ul class="space-y-4 text-white">
          <a class="flex items-center" href="housy.ewa@gmail.com">
            <img src="/static/images/email.png" alt="Email Icon" class="mr-2" />
            <span>Housy.ewa@gmail.com</span></a
          >
          <a
            class="flex items-center"
            href="https://www.facebook.com/profile.php?id=61561810033387&mibextid=ZbWKwL"
          >
            <img
              src="/static/images/facebook.png"
              alt="Facebook Icon"
              class="mr-2"
            />
            <span>Housy immobilier</span>
          </a>
          <a
            class="flex items-center"
            href="https://www.instagram.com/housy_immobilie?igsh=cHhxczMxNW5lZ2d4"
          >
            <img
              src="/static/images/instagram.png"
              alt="Instagram Icon"
              class="mr-2"
            />
            <span>Housy immobilier</span>
          </a>

          <a
            class="flex items-center"
            href="https://x.com/housy_ewa?t=rRrVdKBPikD2Pb51fSk_Qg&s=09"
          >
            <img src="/static/images/x.png" alt="X Icon" class="mr-2" />
            <span>Housy immobilier</span>
          </a>
        </ul>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">About</h2>
        <p class="text-white">
          Pfa 2024 <br />
          Create by <br />
          Ayoub BOULGUANA <br />
          Abdelhadi BELKHADIM <br />
          Anas MOUCHAHID <br />
          Amin JOUHRI
        </p>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">Menu</h2>
        <ul class="space-y-4 text-white">
          <li><a href="{{ url_for('sell') }}">Buy</a></li>
          <li><a href="{{ url_for('rent') }}">Rent</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('about') }}">Contact</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
