<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body class="font-OverPass">
    <nav
      class="flex items-center justify-between px-4 sm:px-8 py-4 sm:py-5 relative z-10"
    >
      <a href="{{ url_for('user.user_home') }}">
        <img
          src="https://i.postimg.cc/nhC8WXpv/image-1.png"
          alt="logo"
          class="w-[85px] sm:w-[167px] h-[29px] sm:h-[59px]"
        />
      </a>
      <button id="nav-toggle" class="block sm:hidden text-customGreen">
        <svg
          class="h-6 w-6 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 5h16M4 12h16M4 19h16"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <ul
        id="nav-menu"
        class="hidden sm:flex flex-col sm:flex-row items-center font-semibold gap-8 sm:gap-8 absolute sm:static top-full left-0 w-full sm:w-auto bg-white sm:bg-transparent sm:space-x-8 sm:px-0 py-4 sm:py-0 shadow-md sm:shadow-none"
      >
        <li>
          <a href="{{ url_for('sell') }}" class="text-customGreen">BUY</a>
        </li>
        <li>
          <a href="{{ url_for('rent') }}" class="text-customGreen">RENT</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}" class="text-customGreen">ABOUT US</a>
        </li>
        <li>
          <a
            href="{{ url_for('contact_us') }}"
            class="text-customGreen underline"
            >CONTACT</a
          >
        </li>
        {% if session.get('role') == 'admin' %}
        <li role="button">
          <a href="{{ url_for('admin.admin_profile') }}">
            <img
              class="w-[36px] h-[36px] hidden sm:block"
              src="/static/images/admin.png"
              alt=""
            />
          </a>
        </li>
        {% elif session.get('username') %}
        <li role="button">
          {% if session.get('role') == 'admin' %}
          <a href="{{ url_for('admin.admin_profile') }}">
            <img
              class="w-[36px] h-[36px] hidden sm:block"
              src="/static/images/admin.png"
              alt=""
            />
          </a>
          {% else %}
          <a href="{{ url_for('user.user_profile') }}">
            <img
              class="w-[36px] h-[36px] hidden sm:block"
              src="{{ url_for('static', filename='uploads/' ~ user_profile_picture) }}"
              alt=""
            />
          </a>
          {% endif %}
        </li>
        {% else %}
        <li role="button" class="bg-customGreen text-white px-2 py-1 rounded">
          <a href="{{ url_for('login') }}">LOGIN SIGN UP</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <section class="py-[33px] px-[30px] sm:px-[230px]">
      <h1 class="mb-[20px] text-center font-bold text-3xl text-customGreen">
        GET IN <span class="underline">TOUCH</span>
      </h1>
      <p class="text-center font-semibold">
        Contact us today to learn more about our services or to schedule a
        consultation. We look forward to helping you achieve your real estate
        goals.
      </p>
    </section>
    <div class="sm:flex justify-center space-y-4 sm:space-y-0 sm:space-x-8">
      <div
        class="bg-customGreen flex items-center space-x-8 px-4 py-2 rounded-xl"
      >
        <div><img src="/static/images/whatsapp_icon.png" alt="" /></div>
        <div class="text-center">
          <h2 class="text-white font-bold text-2xl">Whatsapp</h2>
          <p class="text-white">+212 695 221 572</p>
        </div>
      </div>
      <div
        class="bg-customGreen flex items-center space-x-8 px-4 py-2 rounded-xl"
      >
        <div><img src="/static/images/email_icom.png" alt="" /></div>
        <div class="text-center">
          <h2 class="text-white font-bold text-2xl">Email</h2>
          <p class="text-white">Housy.ewa@gmail.com</p>
        </div>
      </div>
      <div
        class="bg-customGreen flex items-center space-x-8 px-4 py-2 rounded-xl"
      >
        <div><img src="/static/images/linkedin_icon.png" alt="" /></div>
        <div class="text-center">
          <h2 class="text-white font-bold text-2xl">LinkedIn</h2>
          <p class="text-white">Housy immob</p>
        </div>
      </div>
    </div>
    <p class="text-customGreen text-center px-8 py-8">
      Thank you for reaching out to us! We appreciate your interest and value
      your feedback. Our team will review your message and get back to you as
      soon as possible. If your inquiry is urgent, please use the telephone
      number listed on our website to speak with one of our representatives
      directly. Thank you for your patience and understanding.
    </p>
    <footer
      class="bg-customGreen flex flex-col space-y-4 sm:space-y-0 sm:flex-row justify-between p-8 mt-[40px]"
    >
      <div class="w-1/2">
        <img src="/static/images/image 3.png" alt="Housy Logo" />
        <h2 class="font-bold text-white text-2xl">
          About Housy's Recommendations
        </h2>
        <p class="text-white">
          Recommendations are based on your location and search activity, such
          as the homes you've viewed and saved and the filters you've used. We
          use this information to bring similar homes to your attention, so you
          don't miss out.
        </p>
        <p class="text-white text-sm mt-6">&copy; 2024 Housy</p>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">Contact</h2>
        <ul class="space-y-4 text-white">
          <li class="flex items-center">
            <img src="/static/images/email.png" alt="Email Icon" class="mr-2" />
            <span>Housy.ewa@gmail.com</span>
          </li>
          <li class="flex items-center">
            <img
              src="/static/images/facebook.png"
              alt="Facebook Icon"
              class="mr-2"
            />
            <span>Housy immobilier</span>
          </li>
          <li class="flex items-center">
            <img
              src="/static/images/instagram.png"
              alt="Instagram Icon"
              class="mr-2"
            />
            <span>Housy immobilier</span>
          </li>
          <li class="flex items-center">
            <img src="/static/images/x.png" alt="X Icon" class="mr-2" />
            <span>Housy immobilier</span>
          </li>
        </ul>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">About</h2>
        <p class="text-white">
          Pfa 2024 <br />
          Create by <br />
          Ayoub BOULGUANA <br />
          Abdelhadi BELKHADIM <br />
          Anas MOUCHAHID <br />
          Amin JOUHRI
        </p>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">Menu</h2>
        <ul class="space-y-4 text-white">
          <li>Buy</li>
          <li>Rent</li>
          <li>About us</li>
          <li>Contact</li>
        </ul>
      </div>
    </footer>

    <script src="/static/index.js"></script>
    <script>
      document
        .getElementById("nav-toggle")
        .addEventListener("click", function () {
          var navMenu = document.getElementById("nav-menu");
          if (navMenu.classList.contains("hidden")) {
            navMenu.classList.remove("hidden");
            navMenu.classList.add("flex");
          } else {
            navMenu.classList.add("hidden");
            navMenu.classList.remove("flex");
          }
        });
    </script>
  </body>
</html>
