<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HousY - Home</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-overpass">
    <header class="relative h-screen">
      <img
        src="https://i.postimg.cc/8zJkypyL/Main-Background.png"
        alt=""
        class="absolute top-0 left-0 w-full h-full object-cover z-[-1]"
      />
      <nav
        class="flex items-center justify-between px-4 sm:px-12 py-4 sm:py-5 relative z-10"
      >
        <a href="{{ url_for('user.user_home') }}"
          ><img
            src="https://i.postimg.cc/nhC8WXpv/image-1.png"
            alt="logo"
            class="w-[85px] sm:w-[167px] h-[29px] sm:h-[59px]"
        /></a>
        <button id="nav-toggle" class="block sm:hidden text-customGreen">
          <svg
            class="h-6 w-6 fill-current"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 5h16M4 12h16M4 19h16"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <ul
          id="nav-menu"
          class="hidden sm:flex flex-col sm:flex-row items-center font-semibold gap-8 sm:gap-8 absolute sm:static top-full left-0 w-full sm:w-auto bg-white sm:bg-transparent sm:space-x-8 sm:px-0 py-4 sm:py-0 shadow-md sm:shadow-none"
        >
          <li>
            <a href="{{ url_for('sell') }}" class="text-customGreen">BUY</a>
          </li>
          <li>
            <a href="{{ url_for('rent') }}" class="text-customGreen">RENT</a>
          </li>
          <li>
            <a href="{{ url_for('about') }}" class="text-customGreen"
              >ABOUT US</a
            >
          </li>
          <li>
            <a href="{{ url_for('contact_us') }}" class="text-customGreen"
              >CONTACT</a
            >
          </li>
          {% if session.get('role') == 'admin' %}
          <li role="button">
            <a href="{{ url_for('admin.admin_profile') }}">
              <img
                class="w-[36px] h-[36px] hidden sm:block"
                src="/static/images/admin.png"
                alt=""
              />
            </a>
          </li>
          {% elif session.get('username') %}
          <li role="button">
            <a href="{{ url_for('user.user_profile') }}">
              <img
                class="w-[36px] h-[36px] hidden sm:block"
                src="{{ url_for('static', filename='uploads/' ~ user_profile_picture) }}"
                alt=""
              />
            </a>
          </li>
          {% else %}
          <li role="button" class="bg-customGreen text-white px-2 py-1 rounded">
            <a href="{{ url_for('login') }}">LOGIN SIGN UP</a>
          </li>
          {% endif %}
        </ul>
      </nav>

      <div
        class="absolute top-12 right-0 px-4 sm:px-12 space-y-4 sm:space-y-12 text-center sm:text-start w-full h-full flex justify-start items-center"
      >
        <div class="text-white w-full sm:w-1/2">
          <h1
            class="text-start text-customGreen mb-4 sm:mb-8 font-bold text-3xl sm:text-4xl"
          >
            Your Trusted Source for Buying And Selling Homes
          </h1>
          <p
            class="text-start w-3/4 text-[#135D66] mb-4 sm:mb-8 font-normal text-lg sm:text-xl"
          >
            Navigate the real estate market with confidence and expertise.
          </p>
          <div
            class="flex justify-start items-center gap-4 sm:gap-8 mb-4 sm:mb-8"
          >
            <button
              class="bg-customGreen rounded py-2 px-8 sm:px-12 duration-300 ease-in-out hover:bg-opacity-80"
            >
              <a class="text-white" href="{{ url_for('sell') }}">Buy</a>
            </button>
            <button
              class="border-2 border-[#003C43] font-semibold rounded py-2 px-8 sm:px-12 transition duration-300 ease-in-out hover:bg-transparent hover:text-white"
            >
              <a class="text-customGreen" href="{{ url_for('rent') }}">Rent</a>
            </button>
          </div>
          <p class="text-[#77B0AA] w-[475px] text-start">
            Create your account now and unlock the door to exceptional
            opportunities!
            <span
              ><a
                class="text-customGreen underline"
                href="{{ url_for('registration') }}"
                >Sign in</a
              ></span
            >
          </p>
        </div>
      </div>
    </header>

    <section class="px-6">
      <div class="flex justify-between items-center px-0 py-12 sm:px-6">
        <h1 class="text-customGreen font-bold text-2xl sm:text-4xl">
          Home recommendations
        </h1>
        <button
          class="bg-customGreen text-white text-[10px] sm:text-xl font-semibold px-4 py-2 sm:px-6 sm:py-3 rounded transition duration-300 ease-in-out hover:bg-opacity-80 hover:text-opacity-80"
        >
          <a href="#">Discover more</a>
        </button>
      </div>
    </section>

    <section
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-4 sm:px-8 py-8"
    >
      {% for listing in listings[-4:] %}
      <div
        class="shadow-lg rounded-lg bg-therdGreen pb-8 w-[150px] sm:w-[320px] h-[180px] sm:h-[360px] relative card"
      >
        <a href="{{ url_for('product', listing_id=listing.id) }}">
          {% if listing.images and listing.images|length > 0 %}
          <img
            src="{{ url_for('static', filename='uploads/' ~ listing.images[0].filename) }}"
            alt="Card Image"
            class="w-full object-cover rounded-t-lg mb-1 sm:mb-4"
          />
          {% else %}
          <img
            src="{{ url_for('static', filename='uploads/default.jpg') }}"
            alt="Card Image"
            class="w-full object-cover rounded-t-lg mb-1 sm:mb-4"
          />
          {% endif %}
        </a>
        <div class="flex flex-col space-y-1">
          <div
            class="flex justify-between items-center mb-1 sm:mb-4 px-1 sm:px-4"
          >
            <div>
              <h3
                class="bg-LightGreen text-DarkGreen text-[4px] sm:text-[8px] px-2 py-1 rounded-xl"
              >
                {{ listing.action | upper }}
              </h3>
            </div>
            <div>
              <img
                src="/static/images/heart_inactive.png"
                alt="Inactive Heart Icon"
                class="w-[12px] sm:w-[20px] h-[10px] sm:h-[18px] cursor-pointer heart-icon"
                data-listing-id="{{ listing.id }}"
                data-state="inactive"
              />
            </div>
          </div>
          <h3
            class="text-[10px] sm:text-[18px] text-DarkGreen font-semibold mb-4 px-1 sm:px-4"
          >
            ${{ listing.price }}
          </h3>
          <div class="flex space-x-1 px-1 sm:px-4">
            <div
              class="flex items-center space-x-2 bg-LightGreen px-[3px] sm:px-2 py-[2px] sm:py-1 rounded-xl"
            >
              <img
                src="https://i.postimg.cc/3xyh9j1C/ic-outline-bed.png"
                alt="Bed Icon"
                class="w-[5px] sm:w-[10px] h-[5px] sm:h-[10px]"
              />
              <span class="text-[4px] sm:text-[8px] text-DarkGreen"
                >{{ listing.bedrooms }} bed</span
              >
            </div>
            <div
              class="flex items-center space-x-2 bg-LightGreen px-2 py-1 rounded-xl"
            >
              <img
                src="https://i.postimg.cc/DfCRDJ8C/mdi-bathroom.png"
                alt="Bathroom Icon"
                class="w-[5px] sm:w-[10px] h-[5px] sm:h-[10px]"
              />
              <span class="text-[4px] sm:text-[8px] text-DarkGreen"
                >{{ listing.bathrooms }} bathroom</span
              >
            </div>
            <div
              class="flex items-center space-x-2 bg-LightGreen px-2 py-1 rounded-xl"
            >
              <span class="text-[4px] sm:text-[8px] text-DarkGreen"
                >{{ listing.square_footage }} sqft lot</span
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>

    <section class="bg-[#E3FEF7] p-8">
      <div class="flex flex-col sm:flex-row items-center sm:justify-between">
        <div class="">
          <h1 class="text-2xl sm:text-4xl font-semibold text-customGreen">
            AI-Powered House Price Estimator
          </h1>
          <p class="text-gray-600 text-sm sm:text-lg my-8">
            Welcome to our AI-Powered House Price Estimator! Our advanced AI
            technology <br />
            provides you with an accurate estimate of your house's value based
            on house info
          </p>
          <a href="">
            <button
              class="bg-customGreen text-white px-6 py-2 rounded-md hover:bg-[#003c4397] flex items-center space-x-2"
            >
              <img src="/static/images/ai_icon_2.png" alt="" />
              <span>Try It Now!</span>
            </button></a
          >
        </div>
        <div class="hidden sm:block">
          <img
            src="https://i.postimg.cc/fTPc6Z7n/bro.png"
            alt="Illustration of real estate agents"
            class="sm:w-[250px]"
          />
        </div>
      </div>
    </section>

    <footer
      class="bg-customGreen flex flex-col space-y-4 sm:space-y-0 sm:flex-row justify-between p-8 mt-[40px]"
    >
      <div class="w-1/2">
        <img src="/static/images/image 3.png" alt="Housy Logo" />
        <h2 class="font-bold text-white text-2xl">
          About Housy's Recommendations
        </h2>
        <p class="text-white">
          Recommendations are based on your location and search activity, such
          as the homes you've viewed and saved and the filters you've used. We
          use this information to bring similar homes to your attention, so you
          don't miss out.
        </p>
        <p class="text-white text-sm mt-6">&copy; 2024 Housy</p>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">Contact</h2>
        <ul class="space-y-4 text-white">
          <li class="flex items-center">
            <img src="/static/images/email.png" alt="Email Icon" class="mr-2" />
            <span>Housy.ewa@gmail.com</span>
          </li>
          <li class="flex items-center">
            <img
              src="/static/images/facebook.png"
              alt="Facebook Icon"
              class="mr-2"
            />
            <span>Housy immobilier</span>
          </li>
          <li class="flex items-center">
            <img
              src="/static/images/instagram.png"
              alt="Instagram Icon"
              class="mr-2"
            />
            <span>Housy immobilier</span>
          </li>
          <li class="flex items-center">
            <img src="/static/images/x.png" alt="X Icon" class="mr-2" />
            <span>Housy immobilier</span>
          </li>
        </ul>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">About</h2>
        <p class="text-white">
          Pfa 2024 <br />
          Create by <br />
          Ayoub BOULGUANA <br />
          Abdelhadi BELKHADIM <br />
          Anas MOUCHAHID <br />
          Amin JOUHRI
        </p>
      </div>
      <div class="space-y-2">
        <h2 class="font-bold text-white text-2xl">Menu</h2>
        <ul class="space-y-4 text-white">
          <li>Buy</li>
          <li>Rent</li>
          <li>About us</li>
          <li>Contact</li>
        </ul>
      </div>
    </footer>

    <script src="/static/index.js"></script>
  </body>
</html>
