<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HousY</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .bg-DarkGreen {
        background-color: #003c43;
      }
      .from-DarkGreen {
        background-color: #003c43;
      }
      .to-secendGreen {
        background-color: #135d66;
      }
      .text-DarkGreen {
        color: #003c43;
      }
      .border-DarkGray {
        border-color: #868686;
      }
    </style>
  </head>
  <body class="font-OverPass">
    <nav
      class="flex items-center justify-between px-4 sm:px-12 py-4 sm:py-5 relative z-10"
    >
      <a
        class="w-[85px] sm:w-[167px] h-[29px] sm:h-[59px]"
        href="{{ url_for('user.user_home') }}"
        ><img
          src="https://i.postimg.cc/nhC8WXpv/image-1.png"
          alt="logo"
          class=""
      /></a>
      <button id="nav-toggle" class="block sm:hidden text-customGreen">
        <svg
          class="h-6 w-6 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 5h16M4 12h16M4 19h16"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <ul
        id="nav-menu"
        class="hidden sm:flex flex-col sm:flex-row items-center font-semibold gap-8 sm:gap-8 absolute sm:static top-full left-0 w-full sm:w-auto bg-white sm:bg-transparent sm:space-x-8 sm:px-0 py-4 sm:py-0 shadow-md sm:shadow-none"
      >
        <li>
          <a href="{{ url_for('sell') }}" class="text-customGreen">BUY</a>
        </li>
        <li>
          <a href="{{ url_for('rent') }}" class="text-customGreen">RENT</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}" class="text-customGreen">ABOUT US</a>
        </li>
        <li>
          <a href="{{ url_for('contact_us') }}" class="text-customGreen"
            >CONTACT</a
          >
        </li>
        {% if session.get('role') == 'admin' %}
        <li role="button">
          <a href="{{ url_for('admin.admin_profile') }}">
            <img
              class="w-[36px] h-[36px] rounded-full hidden sm:block"
              src="/static/images/Admin_logo.png"
              alt=""
            />
          </a>
        </li>
        {% elif session.get('username') %}
        <li role="button">
          <a href="{{ url_for('user.user_profile') }}">
            <img
              class="w-[36px] h-[36px] rounded-full hidden sm:block"
              src="{{ url_for('static', filename='uploads/' ~ user_profile_picture) }}"
              alt=""
            />
          </a>
        </li>
        {% else %}
        <li role="button" class="bg-customGreen text-white px-2 py-1 rounded">
          <a href="{{ url_for('login') }}">LOGIN SIGN UP</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <section class="bg-LightGray py-[33px] px-[30px] sm:px-[230px]">
      <h1 class="mb-[100px] text-center font-bold text-3xl text-DarkGreen">
        How It Works!
      </h1>
      <section
        class="flex flex-col sm:flex-row space-x-0 space-y-[100px] sm:space-y-0 sm:space-x-4"
      >
        <div
          class="sm:w-1/3 bg-gradient-to-tl from-DarkGreen to-secendGreen p-[30px] flex flex-col space-y-6 items-center rounded-xl"
        >
          <div class="mt-[-80px]">
            <img
              src="{{ url_for('static', filename='images/illustration_1.png') }}"
              alt=""
            />
          </div>
          <div class="flex flex-col items-center space-y-6">
            <h2 class="text-white font-bold text-3xl">Input Information</h2>
            <p class="text-center text-[12px] text-white font-light">
              Simply enter the number of bedrooms and the square footage of your
              lot.
            </p>
          </div>
        </div>
        <div
          class="sm:w-1/3 bg-gradient-to-tl from-DarkGreen to-secendGreen p-[30px] flex flex-col space-y-[50px] items-center rounded-xl"
        >
          <div class="mt-[-80px]">
            <img
              src="{{ url_for('static', filename='images/illustration_2.png') }}"
              alt=""
            />
          </div>
          <div class="flex flex-col items-center space-y-6">
            <h2 class="text-white font-bold text-3xl">Instant Estimate</h2>
            <p class="text-center text-[12px] text-white font-light">
              Our AI algorithm will analyze current market trends, comparable
              properties, and other relevant factors to provide an instant price
              estimate for your house.
            </p>
          </div>
        </div>
        <div
          class="sm:w-1/3 bg-gradient-to-tl from-DarkGreen to-secendGreen p-[30px] flex flex-col space-y-[48px] items-center rounded-xl"
        >
          <div class="mt-[-80px]">
            <img
              src="{{ url_for('static', filename='images/illustration_3.png') }}"
              alt=""
            />
          </div>
          <div class="flex flex-col items-center space-y-6">
            <h2 class="text-white font-bold text-3xl">Up-to-Date</h2>
            <p class="text-center text-[12px] text-white font-light">
              Our AI system is continuously updated with the latest data to
              ensure you get the most accurate estimate possible.
            </p>
          </div>
        </div>
      </section>
    </section>

    <section class="py-[60px] px-[30px] sm:px-[230px] bg-gray-100">
      <h2
        class="text-center pb-[40px] font-bold text-[20px] sm:text-3xl text-DarkGreen"
      >
        Enter the details of your property below to get started:
      </h2>
      <form class="w-full" action="/estimate" method="post">
        <div class="sm:flex sm:space-x-4">
          <div class="sm:w-[50%] mb-4">
            <input
              class="w-full bg-LightGray focus:outline-none rounded mb-2 p-2 border-DarkGray border-b"
              type="number"
              name="bedrooms"
              placeholder="Number of Bedrooms"
              required
            />
            <input
              class="w-full bg-LightGray focus:outline-none rounded p-2 border-DarkGray border-b"
              type="number"
              name="bathrooms"
              placeholder="Number of Bathrooms"
              required
            />
          </div>
          <div class="sm:w-[50%]">
            <input
              class="w-full bg-LightGray focus:outline-none rounded mb-2 p-2 border-DarkGray border-b"
              type="number"
              name="sqft_lot"
              placeholder="Square Footage of Lot"
              required
            />
            <input
              class="w-full bg-LightGray focus:outline-none rounded p-2 border-DarkGray border-b"
              type="number"
              name="sqft_living"
              placeholder="Square Footage of Living"
              required
            />
          </div>
        </div>

        <div
          class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 mt-4"
        >
          <button
            type="submit"
            class="bg-DarkGreen px-4 py-2 text-white rounded"
          >
            Estimate
          </button>

          <div class="flex items-center space-x-2">
            <img
              class="w-[20px] h-[20px]"
              src="{{ url_for('static', filename='images/ai_icon.png') }}"
              alt=""
            />
            <p class="text-DarkGreen font-semibold text-[20px]">Price</p>
          </div>

          {% if estimated_price is not none %}
          <h2 class="text-DarkGreen text-[20px] font-semibold">
            ${{ estimated_price }}
          </h2>
          {% endif %} {% if error_message %}
          <p>Error: {{ error_message }}</p>
          {% endif %}
        </div>
      </form>
    </section>

    <p
      class="py-[30px] text-[10px] sm:text-[18px] px-[30px] sm:px-[230px] text-DarkGreen"
    >
      Note: The estimated price is provided for informational purposes only and
      is not a guaranteed market value. For a precise valuation, please consult
      a real estate professional.
    </p>
  </body>
  <script>
    document
      .getElementById("nav-toggle")
      .addEventListener("click", function () {
        var navMenu = document.getElementById("nav-menu");
        if (navMenu.classList.contains("hidden")) {
          navMenu.classList.remove("hidden");
          navMenu.classList.add("flex");
        } else {
          navMenu.classList.add("hidden");
          navMenu.classList.remove("flex");
        }
      });
  </script>
</html>
