<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        .bg-gradient {
            background: linear-gradient(135deg, #77b0aa 0%, #324a47 100%);
        }
    </style>
</head>
<body class="bg-gradient flex items-center justify-center h-screen">
    <div class="bg-white p-8 shadow-lg w-full max-w-sm">
        <div class="flex items-center justify-center mb-10">
            <img src="https://i.postimg.cc/J7jmLJhq/image-1-1.png" alt="Housy" class="h-12">
        </div>
        <h2 class="text-2xl font-bold mb-2">Reset Your Password</h2>
        <p class="text-gray-600 mb-10">Enter your email to receive a reset code</p>
        {% for message in get_flashed_messages() %}
        <small class="text-therdGreen font-semibold">{{ message }}</small>
        {% endfor %}
        <form action="{{ url_for('user.forgot_password') }}" method="POST">
            <div class="relative mb-4">
                <img src="https://i.postimg.cc/nVTxcLhC/mdi-user.png" alt="Left Icon" class="absolute top-1/2 transform -translate-y-1/2 opacity-50">
                <input type="email" id="email" name="email" placeholder="Email" class="w-full py-2 pl-10 border-b border-gray-300 focus:outline-none focus:border-gray-500" required>
            </div>
            <div class="mt-6">
                <button type="submit" class="w-full bg-[#003C43] text-white py-2 rounded">Send Reset Code</button>
            </div>
        </form>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>
